.mainPane {
    -fx-font-size: 12px;
}

.item-label {
    -fx-border-color: #4D4D4D;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0 0 0 1em;
}

.item-text {
    -fx-padding: 0 0 0 0;
    -fx-border-width: 0 0 1 0;
}

.acl-item {
    -fx-border-color: #4D4D4D;
    -fx-border-width: 0 0 1 0;
    -fx-start-margin: 10;
}
